@import '../../styles/_variables.scss';

.githubCorner{
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.octoCatSVG {
  fill: #fff;
  color: $purple;
}

.octoArm{
  transform-origin: 130px 106px;
}

.githubCorner:hover .octoArm {
  animation: octocatWave 560ms ease-in-out;
}

@keyframes octocatWave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }
  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
