@use 'sass:math';
@import '../../styles/variables';

.customModalDialog{
  // width: 70%;
}

.customModalContent{
  padding: 1em 2em 2em;
}

.modalHeader, .modalBody{
  text-align: center;
}

.modalHeader{
  display: flex;
  justify-content: flex-end;

  padding-top: 0;
  padding-bottom: 0;

  border: none;
}

.modalHeader button{
  border: none;
  
  font-size: 2em;

  background: none;
}

.modalBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalTitle{
  font-size: 25px;
  font-weight: 600;
}