//General colors
$purple: #40133B;
$red: #F34142;
$yellow: #F4AD01;

$dark-red: #DE3C3C;
$dark-yellow: #E09F00;

$darkest-red: #CE3738;

$white: #FFF;
$off-white: #FFFDFD;

$gray-purple-font: rgba($purple, .4);

//Category colors
$cat-visualizacao: #C2D6FF;
$cat-extracao: #BFEAFC;
$cat-analise: #C2F5E9;
$cat-cartografia: #D1F7C4;
$cat-limpeza: #FFDBCA;
$cat-redes: #FFD6E1;
$cat-multi: #FFDAF6;
$cat-programacao: #EDE2FE;
$cat-osint: #F4F4D2;
$cat-inteligenciaartificial: #EAD9FF;
$cat-basededados: #E8D6C3;

//Breakpoints
$big-phones-and-down: "(max-width: 575.99px)";
$big-tablets-and-down: "(max-width: 959.99px)";
$big-tablets-and-up: "(min-width: 960px)";
$desktop-1000-and-up: "(min-width: 1000px)";
$desktop-1200-and-up: "(min-width: 1200px)";
$desktop-1300-and-up: "(min-width: 1300px)";
$desktop-1400-and-up: "(min-width: 1400px)";
$desktop-1600-and-up: "(min-width: 1600px)";
$desktop-1800-and-up: "(min-width: 1800px)";
