// Colors
$purple: #40133B;
$red: #F34142;
$yellow: #F4AD01;

$dark-red: #DE3C3C;
$dark-yellow: #E09F00;

$darkest-red: #CE3738;

//Breakpoints
$big-phones-and-down: "(max-width: 575.99px)";
$big-tablets-and-down: "(max-width: 959.99px)";
$big-tablets-and-up: "(min-width: 960px)";
$desktop-1000-and-up: "(min-width: 1000px)";
$desktop-1200-and-up: "(min-width: 1200px)";
$desktop-1400-and-up: "(min-width: 1400px)";
$desktop-1600-and-up: "(min-width: 1600px)";