@import "~bootstrap/scss/bootstrap";
@import './_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  background-color: $off-white;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

//Overiding bootstrap rules
.btn-primary,
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle{
  white-space: nowrap;
  color: #fff;
  background-color: $red;
  border-color: $red;
}

.btn-primary:hover{
  background-color: darken($red, 8%);
  border-color: darken($red, 8%);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: $red;
  border-color: $red;
  -webkit-box-shadow: 0 0 0 0.25rem rgba($red, .5);
  box-shadow: 0 0 0 0.25rem rgba($red, .5);
}

.btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle{
  white-space: nowrap;
  color: #fff;
  background-color: $yellow;
  border-color: $yellow;
}

.btn-secondary:hover{
  background-color: darken($yellow, 3%);
  border-color: darken($yellow, 3%);
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: $yellow;
  border-color: $yellow;
  -webkit-box-shadow: 0 0 0 0.25rem rgba($yellow, .5);
  box-shadow: 0 0 0 0.25rem rgba($yellow, .5);
}

.btn-white,
.btn-check:checked + .btn-white,
.btn-check:active + .btn-white,
.btn-white:active,
.btn-white.active,
.show > .btn-white.dropdown-toggle{
  white-space: nowrap;
  color: $red;
  background-color: $white;
  border-color: $white;
}

.btn-white:hover{
  color: $red;
  background-color: darken($white, 8%);
  border-color: darken($white, 8%);
}

.btn-load-more,
.btn-check:checked + .btn-load-more,
.btn-check:active + .btn-load-more,
.btn-load-more:active,
.btn-load-more.active,
.show > .btn-load-more.dropdown-toggle{
  white-space: nowrap;
  color: $red;
  border: none;
  border-radius: 100px;
  background-color: rgba($red, .07);
}

.btn-load-more:hover{
  color: $red;
  background-color: rgba($red, .20);
}

.btn-load-more:active{
  color: $red;
  background-color: rgba($red, .40);
}

.btn-inside-input,
.btn-check:checked + .btn-inside-input,
.btn-check:active + .btn-inside-input,
.btn-inside-input:active,
.btn-inside-input.active,
.show > .btn-inside-input.dropdown-toggle{
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-left: none;
  border-radius: 0;
}

.btn-inside-input:hover{
  background-color: rgba($purple, .03);
}


.btn svg{
  font-size: 1em;
  margin-right: .2em;
}

//Default background-color for the category badges
.noSlug{
  background-color: $gray-600;
}
.visualizacao{
  background-color: $cat-visualizacao;
}
.obtencao{
  background-color: $cat-obtencao;
}
.analise{
  background-color: $cat-analise;
}
.cartografia{
  background-color: $cat-cartografia;
}
.publicacao{
  background-color: $cat-publicacao;
}
.limpeza{
  background-color: $cat-limpeza;
}
.redes{
  background-color: $cat-redes;
}
.multi{
  background-color: $cat-multi;
}
.programacao{
  background-color: $cat-programacao;
}