@import "~bootstrap/scss/bootstrap";
@import './_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
