@import "~bootstrap/scss/bootstrap";
@import './_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

//Overiding bootstrap rules
.btn-primary,
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle{
  color: #fff;
  background-color: $red;
  border-color: $red;
}

.btn-primary:hover{
  background-color: darken($red, 15%);
  border-color: $red;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: $red;
  border-color: $red;
  -webkit-box-shadow: 0 0 0 0.25rem rgba($red, .5);
  box-shadow: 0 0 0 0.25rem rgba($red, .5);
}