@use 'sass:math';
@import './variables';

$light-purple: rgba($purple, .6);

:export { 
  lightPurple: $light-purple;
  grayPurple: $gray-purple-font;
}

.contentContainer{
  max-width: 1000px;
  margin: 0 auto;

  @media #{$big-tablets-and-down}{
    max-width: 90vw;
  }

  @media #{$desktop-1300-and-up}{
    max-width: 1200px;
  }
}

.highlightsTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.3em;

  text-align: center;
  color: $yellow;
  font-size: 1.8em;
  font-weight: 300;

  svg{
    font-size: 1.2em;
  }

  @media #{$big-phones-and-down}{
    margin-bottom: .7em;
  }
}

.highlightsTitle{
  margin-left: .2em;
}

.highlightsSeparator{
  width: 95%;
  height: 1px;
  border-bottom: 1px solid rgba($yellow, .4);
  margin: 1em auto 4em;
}

.resultsContainer{
  margin-top: 3.2em;
}

.resultsInfo{
  margin-bottom: 1.3em;

  text-align: right;
  font-size: 1.3em;
  color: $gray-purple-font;
}

.resultsNumber{
  font-weight: 600;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media #{$big-phones-and-down}{
    width: 92%;
    margin: 0 auto;
  }
}

.allResultsLoadedMessage{
  margin: 2em 0;
  width: 100%;
}

.loadMoreButtonContainer{
  width: 100%;
  text-align: center;
}

.loadMoreButton{
  display: flex;
  margin: 2em auto;
  padding: .9rem 1.1rem;
  
  font-size: 1rem;

  svg{
    font-size: 1.5rem;
    margin: 0;
  }
}

.fabButtonsContainer{
  position: fixed;
  bottom: 1em;
  right: 1em;

  display: flex;
  flex-wrap: wrap;

  z-index: 1100;

  @media #{$big-tablets-and-down}{
    flex-direction: column;
  }
}

.drawerInner{
  width: 25em;
  padding: 2em 0;
  background-color: $off-white;

  @media #{$big-phones-and-down}{
    width: 90vw;
  }
}

.closeDrawerButton{
  width: 10%;
  margin: 0 5% 0 auto;
  padding: 0;

  background: none;
  border: none;

  svg{
    margin: 0;
    font-size: 1.2em;
  }
}

.applyFiltersButton{
  width: 50%;
  margin: 0 auto;
}