@use 'sass:math';
@import './variables';

.contentContainer{
  max-width: 1000px;
  margin: 0 auto;
}

.cardsContainer{
  
}

@media #{$desktop-1400-and-up}{
  .contentContainer{
    max-width: 1200px;
  }
}