@use 'sass:math';
@import './variables';

:export { 
  lightPurple: rgba($purple, .6);
}

.contentContainer{
  max-width: 1000px;
  margin: 0 auto;
}

.resultsContainer{
  margin-top: 3.2em;
}

.resultsInfo{
  margin-bottom: 1.3em;

  text-align: right;
  font-size: 1.3em;
  color: rgba($purple, .4);
}

.resultsNumber{
  font-weight: 600;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.openPopupFiltersButton{
  position: fixed;
  bottom: 1em;
  right: 1em;

  padding: .8em;

  border-radius: 100px;
}

.openPopupFiltersButton svg{
  font-size: 1.8em;
  margin-right: 0;
}

.popupFiltersDrawerInner{
  width: 20vw;
}

.popupFiltersCloseButton{
  width: 10%;
  margin-left: auto;
  margin-right: 5%;
  background: none;
  border: none;
}

.popupFiltersCloseButton svg{
  font-size: 1.2em;
}

@media #{$big-tablets-and-down}{
  .contentContainer{
    max-width: 90vw;
  }
}

@media #{$desktop-1400-and-up}{
  .contentContainer{
    max-width: 1200px;
  }
}