@use 'sass:math';
@import '../../styles/variables';

:export { 
  lightPurple: rgba($purple, .6);
}

.filters{
  width: 90%;
  margin: 4em auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer{
  width: 100%;
  margin-bottom: 2em;
}

.searchContainer input{
  text-align: center;
  border-radius: 0;
  border-right: none;
}

.searchContainer input::placeholder{
  color: rgba($purple, .4);
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.checkboxFiltersContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  padding: 1.5em;
  background-color: rgba($purple, .02);
}

.categoryFilters{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  margin: 0 auto 1.5em;

  border-bottom: 1px solid rgba($purple, .1);
}

.platformFilters{
  display: inherit;
  flex-direction: column;
  align-items: center;

  flex-basis: 70%;
}

.filtersTitle{
  margin: 0 auto 1em;
}

.filtersContainer{
  width: 80%;
  margin: 1em 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterCheckbox{
  position: absolute;
  left: -9999px;
}

.filterLabel{
  border-radius: .4em;
}

.filterLabel:hover{
  cursor: pointer;  
}

.categoryFilterLabel{
  margin: 0 .3em 1em;
  padding: .5em .8em;
  opacity: .5;

  text-align: center;
  color: initial !important;
}

.categoryFilterLabel:hover{
  opacity: .7;
}

.categoryFilterCheckbox:checked + .categoryFilterLabel{
  opacity: 1;
}

.categoryFilterCheckbox:checked + .categoryFilterLabel:hover{
  opacity: .7;
}

.platformFilterLabel{
  margin: .5em 0;
  padding: .45em .5em;
  transition: .05s ease-out;
}

.platformFilterLabel svg{
  color: $purple;
  font-size: 1.5em;
}

.platformFilterLabel:hover svg{
  color: lighten($purple, 15%);
}

.platformFilterCheckbox:checked + .platformFilterLabel{
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(darken($purple, 5%), .08);
}

.platformFilterCheckbox:checked + .platformFilterLabel:hover{
  background-color: rgba(darken($purple, 5%), .06);
}

.platformFilterCheckbox:checked + .platformFilterLabel svg{
  color: $red;
}

.cleanFiltersButtonContainer{
  padding-left: 1.5em;
  margin-bottom: 1.5em;
  display: inherit;
}

.cleanFiltersButton{
  margin: 0 auto;
}

.openSourceFilter{
  margin: 0 auto;
  font-size: .9em;
}

//Filtros da barra lateral
.drawerFilters .checkboxFiltersContainer{
  background: none;
}

.drawerFilters .platformFilters, .categoryFilters{
  flex-basis: 90%;
  margin: 0 auto 1.5em;
}

.drawerFilters .filtersContainer{
  width: 90%;
  justify-content: space-between;
}

.drawerFilters .filter{
  display: flex;
  padding-left: 0;
}

.drawerFilters .filter:last-child{
  margin: auto;
}

.drawerFilters .categoryFilter{
  width: 46%;
}

.drawerFilters .platformFilter{
  width: 28%;
}

.drawerFilters .categoryFilterLabel{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: .4em .6em;
  font-size: .95em;
}

.drawerFilters .platformFilterLabel{
  margin-left: auto;
  margin-right: auto;
}

.drawerFilters .cleanFiltersButtonContainer{
  padding-left: 0;
  margin: .5em auto 1.5em;
}


@media #{$big-tablets-and-down}{
  .filter:not(.drawerFilters .filter){
    padding: 0;
    margin: 0 .5em;
  }
}

@media #{$big-phones-and-down}{
  .filters{
    width: 100%;
  }

  .categoryFilters{
    flex-basis: 85%;
  }

  .filtersContainer{
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
  }
  
  .filter{
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  
  .filter:last-child{
    margin: auto;
  }
  
  .categoryFilter{
    width: 42%;
  }
  
  .categoryFilter:last-child{
    width: 50%;
  }
  
  .platformFilter{
    width: 28%;
  }
  
  .categoryFilterLabel{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .4em .6em;
    font-size: .95em;
  }
  
  .platformFilterLabel{
    margin-left: auto;
    margin-right: auto;
  }

  .cleanFiltersButtonContainer{
    padding-left: 0;
    margin: 1em auto;
  }
  
  .openSourceFilter{
    margin: 2em auto;
    font-size: 1em;
  }

  //Filtros da barra lateral
  .drawerFilters .searchContainer{
    padding: 1.5em;
  }
}