@use 'sass:math';
@import '../../styles/variables';

:export { 
  lightPurple: rgba($purple, .6);
}

.allFilters{
  width: 90%;
  margin: 2.5em auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawerFilters{
  margin-top: 3em;
}

.searchContainer{
  width: 100%;
  margin: 2em 0;
}

.searchContainer input{
  text-align: center;
  border-radius: 0;
  border-right: none;
}

.searchContainer input::placeholder{
  color: $gray-purple-font;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.checkboxFiltersContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  padding: 2em 1em;
  background-color: rgba($purple, .02);
}

.categoryFilters{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  margin: 0 auto 1.5em;

  border-bottom: 1px solid rgba($purple, .1);
}

.platformFilters{
  margin: 0 auto;

  display: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-basis: 60%;
}

// .filtersTitle{
//   margin: 0 auto 1em;
// }

.filtersContainer{
  margin: 1em 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterCheckbox{
  position: absolute;
  left: -9999px;
}

.filterLabel{
  border-radius: .4em;
}

.filterLabel:hover{
  cursor: pointer;  
}

// Filtros de categoria
.categoryFiltersTitle{
  margin: 0 auto 1em;
}

.categoryFiltersContainer{
  width: 80%;
}

.categoryFilterLabel{
  margin: 0 .3em 1em;
  padding: .5em .8em;
  opacity: .5;
  
  text-align: center;
  color: initial !important;
  
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.categoryFilterLabel:hover{
  opacity: .7;
}

.categoryFilterCheckbox:checked + .categoryFilterLabel{
  opacity: 1;
  -webkit-box-shadow: inset 0 0 0 0.08rem $purple;
  box-shadow: inset 0 0 0 0.08rem $purple;
}

.categoryFilterCheckbox:focus + .categoryFilterLabel, .categoryFilterLabel:focus{
  -webkit-box-shadow: 0 0 0 0.2rem rgba($purple, .2);
  box-shadow: 0 0 0 0.2rem rgba($purple, .2);
}

.categoryFilterCheckbox:checked:focus + .categoryFilterLabel, .categoryFilterLabel:focus{
  -webkit-box-shadow: inset 0 0 0 0.08rem $purple, 0 0 0 0.15rem rgba($purple, .2);
  box-shadow: inset 0 0 0 0.08rem $purple, 0 0 0 0.15rem rgba($purple, .2);
}

.categoryFilters .cleanFiltersButtonContainer{
  margin-bottom: 1.5em;
}

//Filtros de plataforma
.platformFiltersContainer{
  margin-left: 1.2em;
}

.platformFilter:first-child{
  padding-left: 0;
}

.platformFilterLabel{
  margin: .5em 0;
  padding: .45em .5em;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.platformFilterLabel svg{
  color: $purple;
  font-size: 1.5em;
}

.platformFilterLabel:hover svg{
  color: lighten($purple, 15%);
}

.platformFilterCheckbox:checked + .platformFilterLabel{
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(darken($purple, 5%), .08);
}

.platformFilterCheckbox:checked + .platformFilterLabel:hover{
  background-color: rgba(darken($purple, 5%), .06);
}

.platformFilterCheckbox:checked + .platformFilterLabel svg{
  color: $red;
}

.platformFilterCheckbox:focus + .platformFilterLabel, .platformFilterLabel:focus{
  -webkit-box-shadow: 0 0 0 0.2rem rgba($purple, .2);
  box-shadow: 0 0 0 0.2rem rgba($purple, .2);
}

.platformFilterCheckbox:checked:focus + .platformFilterLabel, .platformFilterLabel:focus{
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15), 0 0 0 0.2rem rgba($purple, .25);
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15), 0 0 0 0.2rem rgba($purple, .25);
}


//Botão de limpar filtros
.cleanFiltersButtonContainer{
  padding-left: 1.5em;
  display: inherit;
}

.cleanFiltersButton{
  margin: 0 auto;
}

.openSourceFilter{
  width: 30%;
  margin: 0 auto;
  font-size: .95em;
}

/*-- Filtros da barra lateral --*/
.drawerFilters .searchContainer{
  width: 90%;
  order: -1;
}

.drawerFilters .checkboxFiltersContainer{
  padding-top: .5em;
  background: none;
}

.drawerFilters .filters{
  flex-direction: column;
  flex-basis: 90%;
  justify-content: space-between;
}

.drawerFilters .filtersTitle{
  margin: 0 auto 1.5em;
}

.drawerFilters .filtersContainer{
  width: 90%;
  margin: 0 auto 1.5em;
}

.drawerFilters .filter{
  display: flex;
  padding-left: 0;
}

//Filtros de categoria
.drawerFilters .categoryFiltersContainer{
  width: 80%;
  margin-bottom: 1em;
  justify-content: space-between;
}

.drawerFilters .categoryFilter{
  width: 46%;
  margin-bottom: 1em;
}

.drawerFilters .categoryFilterLabel{
  width: 100%;
  margin: 0;
  padding: .4em .6em;
  font-size: .95em;
}

//Filtros de plataforma
.drawerFilters .platformFilter{
  width: 28%;
}

.drawerFilters .platformFiltersContainer{
  width: 85%;
  margin: 0 auto 2em;
}

.drawerFilters .platformFilter{
  margin: 0 auto 1.5em;
}

.drawerFilters .platformFilterLabel{
  margin: auto;
}

.drawerFilters .platformFilter:nth-last-child(-n+3){
  margin-bottom: 0;
}

//Limpar filtros
.drawerFilters .cleanFiltersButtonContainer{
  padding-left: 0;
  margin: 0 auto 2em;
}

//Filtro open-source
.drawerFilters .openSourceFilter{
  margin: 2em 0 1.5em;
  flex-basis: 100%;
}

.drawerFilters .openSourceFilter .filter{
  margin: 0 auto;
}
/*-- FIM - Filtros da barra lateral --*/


@media #{$big-tablets-and-down}{
  //Filtros de plataforma
  .platformFilters{
    flex-direction: column;
    flex-basis: 35%;
  }
  
  .platformFiltersContainer{
    margin-left: 0;
  }

  .platformFilter{
    margin: auto 5%;
    padding: 0;
  }

  .platformFilterLabel{
    padding: .55em;
  }

  //Limpar filtros
  .cleanFiltersButtonContainer{
    padding: 0;
  }

  //Filtro open-source
  .openSourceFilter{
    flex-basis: 35%;
    font-size: .9em;
  }
}

@media #{$big-phones-and-down}{
  .allFilters{
    width: 100%;
  }

  .categoryFilters{
    flex-basis: 85%;
  }

  .filtersContainer{
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
  }
  
  .filter{
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  
  //Filtros de categoria
  .categoryFilter{
    width: 42%;
    margin-bottom: 1em;
  }

  .categoryFilter:nth-last-child(-n+2){
    margin-bottom: 0;
  }
  
  .categoryFilterLabel{
    width: 100%;
    margin: 0;
    padding: .4em .6em;
    font-size: .95em;
  }
  
  //Filtros de plataforma
  .platformFilters{
    flex-basis: 100%;
  }

  .platformFiltersContainer{
    width: 80%;
    margin-left: 0;
  }

  .platformFiltersTitle{
    margin: 0 auto 1em;
  }

  .platformFilter{
    width: 28%;
    margin: 0 auto 1.2em;
  } 

  .platformFilter:nth-last-child(-n+3){
    margin-bottom: 0;
  }
  
  .platformFilterLabel{
    padding: .6em;
    margin: 0 auto;
  }

  .platformFilterLabel svg{
    font-size: 1.7em;
  }

  .cleanFiltersButtonContainer{
    padding-left: 0;
    margin: 2em auto !important;
  }
  
  //Filtro open-source
  .openSourceFilter{
    flex-basis: 85%;
    margin: 2em auto;
  }

  //Filtros da barra lateral
  .drawerFilters .searchContainer{
    padding: 1.5em;
  }
}