.fixedButton {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    border-radius: 100px;

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

    svg{
        margin: auto;
    }

    &:focus {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2),
            0 0 0 0.25rem rgba(243, 65, 66, 0.5);
    }
}
