@use 'sass:math';
@import '../../styles/variables';

.pageFooter{
  margin-top: 6em; //provisório
  padding: 4em 5em 3em;

  color: #fff;
  font-family: 'Raleway', Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $purple;
}

.pageFooter a:hover{
  color: darken(#fff, 20%);
}

.mainRow{
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
}

.linksContainer{
  flex-basis: 30%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footerLink{
  flex-basis: 50%;
  font-weight: 300;
}

.madeByContainer{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.madeBySpan{
  font-weight: 500;
}

.logoContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.logoImgLink{
  width: 30%;
}

.logoImg{
  width: 100%;
}

.creditsRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creditsSpan{
  text-align: center;
  font-weight: 300;
  font-size: .9em;
}

@media #{$big-tablets-and-down}{
  .pageFooter{
    margin-top: 10em;
    padding: 4em 2em 12em;
  }

  .mainRow{
    flex-direction: column;
    margin-bottom: 0;
  }
  .linksContainer, .madeByContainer{
    margin: 0 0 5em 0;
    width: 100%;
  }

  .footerLink{
    flex-basis: 100%;
    margin-bottom: 1em;
  }

  .logoContainer{
    flex-direction: column;
  }
}

@media #{$big-phones-and-down}{
    .logoImgLink{
      width: 100%;
      margin-bottom: 3em;
    }
}